body {
    background-image: url("/img/background.jpg");
    background-size: cover;
}

h2 {
    color: #fff;
    text-align: center;
    border: 2px solid purple;
    padding: 5px;
}

p {
    color: #fff;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: #fff;
}